<div class="leaderboard">
    <div class="container">
        <div class="left">
            <p style="font-weight: bolder; text-align: center;"> Pokemon </p>
            <ul>
                <li ng-model="item" ng-repeat="item in pokemons.lines">
                    {{ item.userId }}
                    <!--<span style="float:right;"> {{ item.score }} </span>-->
                </li>
            </ul>
        </div>
        <div class="right">
            <p style="font-weight: bolder; text-align: center;"> Big Data </p>
            <ul>
                <li ng-model="item" ng-repeat="item in bigdatas.lines">
                    {{ item.userId }}
                    <!--<span style="float:right;"> {{ item.score }} </span>-->
                </li>
            </ul>
        </div>
    </div>
</div>