<div ng-controller="votingController" class="voting">
    <p class="name">Вітаю, <span style="font-weight: bolder; text-transform: capitalize;" name-generator></span></p>
    <p class="voting-question">{{ question.content }}</p>

    <div class="voting-buttons">
        <button ng-if="!next" ng-disabled="clicked" class="vote" ng-click="onPokemonClick($event)">ЗРАДА</button>
        <button ng-if="!next" ng-disabled="clicked" class="vote" ng-click="onBigDataClick($event)">ПЕРЕМОГА</button>
    </div>
</div>
